.app {
    text-align: center;
    background-color: #282c34;
}

.header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-block: 50px;
    min-height: 100vh;
}

button {
    font-size: calc(10px + 2vmin);
    margin-inline: 10px;
    padding-inline: 10px;
}

div.item>div>p {
    height: 20px;
}